
<div class="container d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 56px)">
  <h3>
 Organize Your Life, One Task at a Time
  <small class="text-body-secondary">Effortlessly manage your tasks and stay on top of your day!</small>
</h3>

  <%= link_to  "View List", lists_path ,class:"btn btn-dark"%>
</div>
